{% extends 'base.html.twig' %}

{% block title %}Update Address{% endblock %}

{% block body %}
<div class="flex-container">
        <div class="flex-item-12 text-center">
            <h1>Delete Address</h1>
            <p>
                Are you sure that address with below attributes be delete?<br>
                firstName: {{ address.getFirstName() | default('')}}&nbsp;firstName: {{ address.getLastName() | default('')}}
            </p>
        </div>
        {{ form_start(form) }}
        <div class="flex-container">
            <div class="flex-item-6 text-right">
                {{ form_row(form.id) }}
                {{ form_row(form.save) }}
            </div>
            <div class="flex-item-6 text-left">
                <a class="table-nav-link" href="/">return</a>
            </div>
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}