{% extends 'base.html.twig' %}

{% block title %}New Address{% endblock %}

{% block body %}
    <div class="flex-container">
    <div class="flex-item-12 text-center">
        <h1>New Address</h1>
    </div>
    {{ form_start(form) }}
    <div class="flex-container">
        <div class="flex-item-6 text-right">
            {{ form_row(form.firstName) }}
        </div>
        <div class="flex-item-6 text-left">
            {{ form_row(form.lastName) }}
        </div>
        <div class="flex-item-6 text-right">
            {{ form_row(form.chosenCountry) }}
        </div>
        <div class="flex-item-6 text-left">
            {{ form_row(form.chosenCity) }}
        </div>
        <div class="flex-item-6 text-right">
            {{ form_row(form.streetAndNumber) }}
        </div>
        <div class="flex-item-6 text-left">
            {{ form_row(form.zip) }}
        </div>
        <div class="flex-item-6 text-right">
            {{ form_row(form.phoneNumber) }}
        </div>
        <div class="flex-item-6 text-left">
            {{ form_row(form.emailAddress) }}
        </div>
        <div class="flex-item-6 text-right">
            {{ form_row(form.picture) }}
            {{ form_row(form.pictureFile) }}
            <img id="address_picture_place_holder" src=""
                 alt="picture of address" class="profile"/>
        </div>
        <div class="flex-item-6 text-left">
            {{ form_row(form.birthday) }}
        </div>
        <div class="flex-item-6 text-right">
            {{ form_row(form.save) }}
        </div>
        <div class="flex-item-6 text-left">
            <a class="table-nav-link" href="/">return</a>
        </div>
    </div>
    {{ form_end(form) }}
</div>
    <script src="/build/load_country_cities_and_image.js"></script>
{% endblock %}